@namespace GoldPrice.WebApp.Pages
@using GoldPrice.WebApp.Data
@page "/"

<Modal Title="@("Title")"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       ConfirmLoading="@_confirmLoading">
    <p>@_modalText</p>
</Modal>

<Form Model="@_model" OnFinish="HandleSubmit" Class="ant-advanced-search-form">
    <PageContainer>
        <ChildContent>
            <Card Title="通知设置">
                <Row Gutter="24">
                    <GridCol Span="10">
                        <FormItem Label="上限阈值">
                            <AntDesign.InputNumber Size="@InputSize.Large" Placeholder="上限阈值" Step="0.01M" Min="0.01M" @bind-Value="@context.UpperThreshold" />
                        </FormItem>
                    </GridCol>
                    <GridCol Span="10">
                        <FormItem Label="下限阈值">
                            <AntDesign.InputNumber Size="@InputSize.Large" Placeholder="下限阈值" Step="0.01M" Min="0.01M" @bind-Value="@context.LowerThreshold" />
                        </FormItem>
                    </GridCol>
                </Row>
                <Row Gutter="24">
                    <GridCol Span="10">
                        <FormItem Label="更新间隔">
                            <AntDesign.InputNumber Size="@InputSize.Large" Placeholder="下限阈值" Min="1" @bind-Value="@context.UpdateInterval" />
                        </FormItem>
                    </GridCol>
                    <GridCol Span="10">
                        <FormItem Label="是否通知">
                            <AntDesign.Switch Size="@InputSize.Large" CheckedChildren="是" UnCheckedChildren="否" @bind-Value="@context.EnableNotification" />
                        </FormItem>
                    </GridCol>
                </Row>
                <Row Gutter="24">
                    <GridCol Span="24">
                        <FormItem Label="通知时段">
                            <TimePicker Size="@InputSize.Large" TValue="DateTime" Picker="@DatePickerType.Time" @bind-Value="@context.StartTime" />
                            -
                            <TimePicker Size="@InputSize.Large" TValue="DateTime" Picker="@DatePickerType.Time" @bind-Value="@context.EndTime" />
                        </FormItem>
                    </GridCol>
                </Row>
                <Row Gutter="24">
                    <GridCol Span="24">
                        <FormItem Label="通知地址">
                            <Input Size="@InputSize.Large" Placeholder="通知地址" @bind-Value="@context.NotifyPath" />
                        </FormItem>
                    </GridCol>
                </Row>
                <Row Gutter="24">
                    <GridCol Span="10">
                        <FormItem Label="通知铃声">
                            <EnumSelect Size="@InputSize.Large" TEnum="Sound" />
                        </FormItem>
                    </GridCol>
                </Row>
                <FormItem Style="margin-top:32px">
                    <Button Size="@ButtonSize.Large" Type="@ButtonType.Primary" HtmlType="submit">
                        保存
                    </Button>
                </FormItem>
            </Card>
        </ChildContent>
    </PageContainer>
</Form>
@code{
    bool _visible = false;
    bool _confirmLoading = false;
    string _modalText = "Content of the modal";
    public GoldPriceSettings? settings { get; set; }

    private void ShowModal()
    {
        _visible = true;
    }


    private async Task HandleOk(MouseEventArgs e)
    {
        _modalText = "The modal will be closed after two seconds";
        _confirmLoading = true;
        StateHasChanged();
        await Task.Delay(2000);
        _visible = false;
        _confirmLoading = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine("Clicked cancel button");
        _visible = false;
    }

    private enum Sound
    {
        alarm,
        anticipate,
        bell,
        birdsong,
        bloom,
        calypso,
        chime,
        choo,
        descent,
        electronic,
        fanfare,
        glass,
        gotosleep,
        healthnotification,
        horn,
        ladder,
        mailsent,
        minuet,
        multiwayinvitation,
        newmail,
        newsflash,
        noir,
        paymentsuccess,
        shake,
        sherwoodforest,
        silence,
        spell,
        suspense,
        telegraph,
        tipties,
        typewriters,
        update
    }
}
